.modal-header {
    background-color: white;
    border-bottom: 1px solid black;
}

.modal-body {
    background-color: white;
}

.modal-footer {
    background-color: white;
}

.modal-title {
    text-align: center;
    justify-content: center;
}

.scroll {
    height:150px;
    overflow-y: scroll; 
}