.commentArea {
    font: 14px Arial;
    padding: 0 10px;
    margin-top: 20px;    
    }
    
    .bubbledLeft,.bubbledRight {
        margin-top: 20px;
        padding: 5px 9px;
        max-width: 50%;
        clear: both;
        position: relative;
    }
    
    .bubbledLeft{
        float: left;
        margin-right: auto;
        -webkit-border-radius: 8px 8px 8px 0px;
        -moz-border-radius: 8px 8px 8px 0px;
        -o-border-radius: 8px 8px 8px 0px;
        -ms-border-radius: 8px 8px 8px 0px;
        border-radius: 8px 8px 8px 0px;
        background-color: #b4716f;
        color: #ffffff;
    }
    
    .bubbledLeft:before {
        border-bottom: 10px solid #b4716f;
        border-left: 9px solid rgba(0, 0, 0, 0);
        position: absolute;
        bottom: 0;
        left: -8px;
        content: "";
    }
    
    .bubbledRight{
        float: right;
        margin-left: auto;
        text-align: right;
        -webkit-border-radius: 8px 8px 0px 8px;
        -moz-border-radius: 8px 8px 0px 8px;
        -o-border-radius: 8px 8px 0px 8px;
        -ms-border-radius: 8px 8px 0px 8px;
        border-radius: 8px 8px 0px 8px;
        background-color: #888888;
        color: white;
    }
    
    .bubbledRight:before {
        border-bottom: 9px solid #888888;
        border-right: 9px solid rgba(0, 0, 0, 0);
        position: absolute;
        bottom: 0;
        right: -8px;
        content: "";
    }

    .time {
        text-align: right;
        font-size: xx-small;
    }


// .container {
//     width: 400px;
//     padding: 10px;
// }

// .message-rose {
//     position: relative;
//     margin-left: 20px;
//     margin-bottom: 10px;
//     padding: 10px;
//     background-color: #b4716f;
//     width: 200px;
//     height: 50px;
//     text-align: left;
//     font: 400 .9em 'Open Sans', sans-serif;
//     border: 1px solid #97C6E3;
//     border-radius: 10px;
// }

// .message-peach {
//     position: relative;
//     margin-bottom: 10px;
//     margin-left: calc(100% - 240px);
//     padding: 10px;
//     background-color: #c58c8c;
//     width: 200px;
//     height: 50px;
//     text-align: left;
//     font: 400 .9em 'Open Sans', sans-serif;
//     border: 1px solid #dfd087;
//     border-radius: 10px;
// }

// .message-content {
//     padding: 0;
//     margin: 0;
// }